.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #14091E;
  background-image: url('/images/background_one.png');
  background-size: contain;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

#header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  text-align: center;
  position: relative;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.image {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70%
}

#sub {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(62, 62, 62);
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
  color: black;
}

#worldimg {
  filter: invert(100);
  margin: 0rem 0.5rem;
}

#location {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-weight: lighter;
  font-size: 16px;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

#bio {
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#bioleft {
  display: flex;
  flex-direction: column;
}

#bioleft > h3 {
  font-size: 22px;
  font-weight: 400;
}

#bioleft > h3 > span {
  background-color: rgba(0, 204, 255, 0.8);
  color: black;
  padding: 0rem 0.5rem;

}

#tech {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#tech > h4 {
  font-weight: lighter;
  margin-right: 1rem;
  letter-spacing: 0.05rem;
  font-size: 18px;
}

#react {
  filter: saturate(100);
  margin-right: 1rem;
}

#next {
  filter: invert(100) ;
  margin-right: 1rem;
}

#js {
  filter: saturate(2) ;
  margin-right: 1rem;
}

#express {
  margin-right: 1rem;
}

#vsc {
  filter: saturate(10);
  margin-right: 1rem;
}

#github {
  filter: invert(100);
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons > button {
  padding: 1rem;
  margin: 2rem 2rem;
  border-radius: 999px;
  width: 10rem;
  border: 1px solid white;
  background-color: transparent;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

#buttons > button:hover {
  cursor: pointer;
  background-color: white;
  color: black
}

.tooltip {
  display: none;
}

#react:hover ~ #reacttooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 28%;
  top: 52%;
}

#next:hover ~ #nexttooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 29.5%;
  top: 52%
}

#js:hover ~ #jstooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 31%;
  top: 52%
}

#express:hover ~ #expresstooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 33.5%;
  top: 52%
}

#vsc:hover ~ #vsctooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 34%;
  top: 52%
}

#github:hover ~ #githubtooltip {
  display: block;
  font-weight: 100;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border: 1px solid gray;
  box-shadow: 0px 0px 5px black;
  border-radius: 0;
  padding: 0.3rem 0.6rem;
  font-size: 12px;
  left: 37%;
  top: 52%
}

#pfp {
  border-radius: 9999px;
}

#break {
  width: 100%;
  height: 20vh
}

#projects {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/images/background_two.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#projectsheader {
  width: 65%
}

#projectsheader > h3 {
  font-weight: 400;
  letter-spacing: 0.2rem;
}

#projectcards {
  width: 57%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#cardOne {
  width: 100%;
  height: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cardTwo {
  width: 100%;
  height: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cardThree {
  width: 100%;
  height: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTop {
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.cardTopLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cardTopLeftTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTopLeftTitle > h3 {
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 0.8vw;
}

.cardTopLeftTitle > code {
  font-size: 0.5vw;
  margin-top: 0.5rem;
}

.cardTopLeftTitle > code:hover {
  cursor: pointer;
}

.cardTopLeftButton {
  display: flex;
  justify-content: center;
}

.cardTopLeftButton > button {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 9999px;
  background-color: transparent;
  transition: 0.2s;
  letter-spacing: 0.1rem;
}

.cardTopLeftButton > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.cardTopRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.cardDescription > h3 {
  font-weight: 200;
  font-size: 1.5vh;
}

.cardTech > h3 {
  font-weight: 400;
  font-size: 1.2vh;
  letter-spacing: 0.05rem;
  color: rgb(208, 184, 215)
}

.cardTech > h4 {
  font-weight: 200;
  font-size: 1.5vh;
}

.cardBottom {
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#vinallyone {
  border-radius: 5px;
  filter: grayscale(100);
  transition: 0.5s;
  width: 46%;
  height: 72%
}

#vinallytwo {
  border-radius: 5px;
  filter: grayscale(100);
  transition: 0.5s;
  width: 46%;
  height: 72%;
}

#vinallyone:hover {
  filter: grayscale(0)
}

#vinallytwo:hover {
  filter: grayscale(0)
}

.cardHolder {
  width: 40%;
  height: 70%;
  border: 1px solid
}

#breaktwo {
  width: 80%;
  height: 10vh;
  height: 2px;
  margin-top: 5vh;
  background: linear-gradient(to left, #EB2BE3 0%, #4743FF 36.46%, #FF3454 68.23%, #FDB306 100%);
}

.contact {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contactHeader {
  margin-top: 10vh;
}

#contactHeader > h1 {
  letter-spacing: 0.1rem;
}

#contactmessage {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#contactmessage > h3 {
  font-weight: 300;
}

#contactmessage > code {
  font-size: 18px;
  text-decoration: underline;
}

#contactmessage > code:hover {
  cursor: pointer;
}

.footer {
  color: #52346f;
}

#social {
  display: flex;
  justify-content: center;
}

#linkedin {
  border-radius: 5px;
}

#githubbottom {
  scale: 1.2;
  filter: invert(100);
}

.socialimages {
  height: auto;
  width: 10%;
  transition: 0.2s;
}

#linkedin:hover {
  scale: 1.2;
  cursor: pointer;
}

#githubbottom:hover {
  scale: 1.4;
  cursor: pointer;
}





